<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="LinqContext" providerName="System.Data.SqlClient" connectionString="Data Source=Sql;     Initial Catalog=Market;     Integrated Security=True;     MultipleActiveResultSets=True" />
<add name="LinqContext1" connectionString="data source=SQL;initial catalog=Market;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>